*$py.class
*.egg
*.egg-info
*.pt.py
*.pyc
*.pyo
*.swp
*.txt.py
*~
.*.swp
.cache/
.coverage
.tox/
__pycache__/
build/
coverage*.xml
coverage-py*
coverage.xml
dist/
docs/_build/
docs/_themes/
env*/
jyenv/
nosetests-py*
nosetests.xml
pypyenv/
pytest*.xml
venusian.egg-info/
venusian/coverage.xml
