graft src/venusian
graft docs
prune docs/_build
graft tests

include README.rst
include CHANGES.rst
include CONTRIBUTING.rst
include CONTRIBUTORS.txt
include LICENSE.txt
include COPYRIGHT.txt

include .coveragerc pyproject.toml setup.cfg
include tox.ini .readthedocs.yaml
graft .github

global-exclude __pycache__ *.py[cod]
global-exclude .DS_Store
